.container{
    display : flex;
    margin: 20px;
    
    justify-content:space-between;
    padding : 10px;
}

article[id$="Box"]{
    min-width: 40%;
    flex-direction: row;
    height: 100px;
}

#redBox{
    border : 1px solid red;
}

#blueBox{
    border : 1px solid blue;
}
